.form-actions .tip {
  display: none !important;
}

.jose-vs-oss {
  clear: both;
}

.jose-vs-oss .btn {
  float: inherit !important;
  margin-left: -1px !important;
}

.jose-vs-oss .btn img {
  vertical-align: sub;
}
